
header {
  background-color: #1DB954; 
  color: #111; 
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 5px;
}

header p {
  font-size: 1rem;
  color: #222; 
}

body, h1, h2, p, ul, li, nav, footer {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #eee;
  text-align: center;
  min-height: 100vh;
}

nav {
  margin: 20px 0;
}

nav a {
  color: #eee;
  text-decoration: none;
  margin: 0 10px;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

main {
  max-width: 800px;
  margin: 20px auto; 
}


.artist {
  margin: 40px 0;
}

.artist img {
  max-width: 300px;
  border-radius: 10px;
  display: block;
  margin: 0 auto 15px auto; 
}


footer {
  margin-top: 40px;
  padding: 20px 0;
  font-size: 0.9rem;
  color: #777;
}
