body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #eee;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
background-color: #1DB954;
color: #111;
justify-content: center;
align-items: center;
height: 120px;
}

main {
  flex: 1;               
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;   
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}


footer {
  padding: 20px 0;
  font-size: 0.9rem;
  color: #777;
  text-align: center;
}


nav {
  background: #1e1e1e;
  display: flex;
  justify-content: center;
  padding: 0.75rem;
}


main {
  flex: 1;               
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}



.artist-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; 
}

.artist-card {
  background: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  width: 220px; 
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  transition: transform 0.2s;
}

.artist-card:hover {
  transform: scale(1.05);
}
.artist-card img {
  max-width: 180px;  
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto 10px auto;
}


.artist-card h3 {
  margin: 10px 0;
}

.artist-links a {
  display: inline-block;
  margin: 5px 10px;
  color: #1DB954;
  font-weight: bold;
  text-decoration: none;
}

.artist-links a:hover {
  text-decoration: underline;
}
